<h1> Sign Up</h1>
<p>
<%= @error%><br>
<form method="POST" action="/users">
    <label for="username">Username: </label>
    <input type="text" name="user[username]" id="username"><br>
    <br><label for="password">Password: </label>
    <input type="password" name="user[password]" id="password"><br>
    <br><input type="submit" value="Sign Up">
</form>
</p>