<h2>Create a post</h2>

<form method="POST" action="/posts" id="post">
    <label for="title">Title: </title><br>
    <input type="text" id="title" name="post[title]"><br>
    <br> <label for="content">Content: </label><br>
    <textarea type="tetx" form="post" name=post[content] rows="7" cols="60"></textarea> <br>
    <input type="submit" value="Submit">
</form>
